body {
    background-color: #eee;
    width: 90%;
    max-width: 650px;
    margin: 0 auto;
    margin-top: 10%;
    font-family: 'Oswald', sans-serif;
    font-size: 2.15em;
    line-height: 1.5;
    text-align: justify;
}
p {
    margin-top: 1em;
}

.em {
    color: #c60000;
}
.mute {
    color: #777;
}

.em-link:link, .em-link:visited, .em-link:focus {
    color: #c60000;
    text-decoration: none;
    border-bottom: solid 3px #333;
}
.em-link:hover, .em-link:active {
    color: #79cce9;
    border-bottom: none;
}

.hide {
    display: none;
}

.fa {
    margin: 1em 0.5em 0.5em;
}
.icon:link, .icon:visited {
    color: #333;
}
.icon:hover, .icon:focus, .icon:active {
    color: #79cce9;
}